<header class="p-4 bg-secondary text-brand-dark font-bold">
    <div class="flex justify-between">
        <div class="w-3/12">
            <h1 class="text-2xl font-bold">ADMIN DASHBOARD</h1>
        </div>
        <div class="justify-end">
            <div class="flex gap-8">
                <a 
                    routerLink="/profile"
                    class="flex nav-link cursor-pointer border-4 border-brand-dark px-2"
                >
                    <img src="line_start_arrow_notch_24dp_1C1B1A_FILL0_wght400_GRAD0_opsz24.svg" class="w-5 2xl:w-auto">
                    <p class="text-sm 2xl:text-lg place-self-center">Back to Profile</p>
                </a>
                <a 
                    routerLink="/"
                    class="flex nav-link cursor-pointer text-lg border-4 border-brand-dark px-2"
                >
                    <img src="store_24dp_1C1B1A_FILL0_wght400_GRAD0_opsz24.svg" class="w-5 2xl:w-auto">
                    <p class="text-sm 2xl:text-lg place-self-center">Shop Home</p>
                </a>
            </div>
        </div>
    </div>
</header>
