<div class="border border-primary-light w-96 h-auto rounded-sm">
    <div class="m-4 flex flex-col gap-2">
        <div class="flex flex-col items-center">
            <img src="{{this.product() ? this.product()!.imageUrls[0] : ''}}" alt="{{this.product()?.title}} image" class="w-[75%] h-auto">
            <p class="font-bold text-xl">{{this.product()?.title}}</p>
            <p class="italic">{{this.product()?.category}}</p>
        </div>
        <h1 class="text-center font-bold text-2xl border-t border-primary-light pt-3">MOST LIKED PRODUCT</h1>
    </div>
</div>
