<div class="p-2 w-full flex">
    <section class="w-1/2 flex flex-col gap-2">
        <div class="flex flex-row p-2 text-xs font-bold border-b border-primary-light">
            <div class="w-3/12 block-logic">
                <h1 class="center-left">Title</h1>
            </div>
            <div class="w-2/12 block-logic">
                <p class="center-left">Category</p>
            </div>
            <div class="w-1/12 block-logic">
                <p class="center-left">Price</p>
            </div>
            <div class="w-1/12 block-logic">
                <p class="center-left">Stock</p>
            </div>
            <div class="w-4/12 block-logic">
                <p>Important Dates</p>
            </div>
            <div class="w-1/12 block-logic">
                <p class="flex justify-end">Feat.</p>
            </div>
        </div>
        @if(products().length > 0){
            @for(product of products(); track product.id){
                <app-product-list 
                    [product]="product"
                    (outputProduct)="updateSelected($event)"
                    [selected]="checkSelected(product.id)"
                />
            }
        } @else {
            <p>No products.</p>
        }
    </section>
    <section class="w-1/2">
        <app-product-mini-display
            [product]="selectedProduct()!"
            (deleted)="onDeleteProduct()"
        />
    </section>
</div>