<div class="p-2 w-full flex">
    <section class="w-1/2 flex flex-col gap-2">
        @if(products().length > 0){
            @for(product of products(); track product.id){
                <app-product-list 
                    [product]="product"
                    (outputProduct)="updateSelected($event)"
                    [selected]="checkSelected(product.id)"
                />
            }
        } @else {
            <p>No products.</p>
        }
    </section>
    <section class="w-1/2">
        <app-product-mini-display
            [product]="selectedProduct()!"
        />
    </section>
</div>