<!-- Desktop -->
<header class="hidden md:flex md:mt-0 flex-row justify-between py-2 mb-1 items-center">
    <!-- Logo -->
    <h1 class="px-2 text-3xl lg:text-4xl">木漏れ日</h1>

    <!-- Desktop Nav -->
    <nav class="text-xl lg:text-3xl flex gap-2 lg:gap-6 hover:cursor-pointer">
        <a class="nav-link">Home</a>
        <a class="nav-link">Shop</a>
        <a class="nav-link">About</a>
    </nav>

    <!-- Searchbar -->
    <div class="w-4/12 2xl:w-6/12 text-xl lg:text-2xl mx-2 px-2 py-0.5 lg:py-1 btn-border">
        Search goes here*
    </div>

    <!-- User Menu -->
    <div class="mx-2">
        <a class="inline-block px-6 lg:px-8 py-0.5 text-xl lg:text-3xl btn-border btn-ux">Login</a>
    </div>
</header>


<!-- Mobile -->
<div class="flex md:hidden flex-col gap-y-2 my-2 mx-2">
    <div class="flex flex-row">
        <div class="flex flex-row flex-1">
            <button class="text-4xl text-brand-light">
                ☰
            </button>
            <h1 class="self-center px-2 text-3xl">木漏れ日</h1>
        </div>
        <div class="flex flex-row self-center">
            <div class="mx-2">
                <a class="inline-block px-4 py-0.5 text-md btn-border btn-ux">Login</a>
            </div>
        </div>
    </div>
    <div class="w-full text-md mx-2 px-2 py-1 btn-border self-center">
        Search goes here*
    </div>
</div>