<section class="flex justify-between py-2 bg-brand-dark mb-3">
    <h1 class="px-4 text-5xl font-bold">木漏れ日</h1>
    <nav class="self-end text-3xl flex gap-6 hover:cursor-pointer">
        <a class="hover:font-bold">Home</a>
        <a class="hover:font-bold">Shop</a>
        <a class="hover:font-bold">About</a>
    </nav>
    <div class="self-end w-96 bg-stone-800 text-2xl px-2 rounded-lg">
        [Search goes here]
    </div>
    <div class="self-end mr-2">
        <a 
            class="bg-primary font-bold px-6 rounded-lg text-3xl"
        >Login</a>
    </div>
</section>
