<section class="flex flex-col gap-y-4 mt-6 md:mt-0 md:flex-row justify-between py-2 bg-brand-dark mb-1">
    <h1 class="px-4 text-6xl md:text-2xl lg:text-4xl self-center">木漏れ日</h1>
    <nav class="self-center text-4xl md:text-xl lg:text-3xl flex gap-6 hover:cursor-pointer">
        <a class="hover:font-bold transition-transform duration-300 ease-in-out transform hover:scale-105 active:scale-95">Home</a>
        <a class="hover:font-bold transition-transform duration-300 ease-in-out transform hover:scale-105 active:scale-95">Shop</a>
        <a class="hover:font-bold transition-transform duration-300 ease-in-out transform hover:scale-105 active:scale-95">About</a>
    </nav>
    <div class="self-center w-11/12 md:w-4/12 2xl:w-6/12 text-2xl mx-2 px-2 py-1 border-2 border-brand-light">
        Search goes here*
    </div>
    <div class="self-center mx-2">
        <a 
            class="inline-block px-8 py-0.5 text-3xl 
            border-2 border-brand-light 
            transform transition duration-300 
            hover:scale-105 active:scale-95 hover:cursor-pointer"
        >Login</a>
    </div>
</section>
