<div class="hidden md:flex flex-col justify-center place-self-center min-h-screen max-w-sm mx-auto">
    <h1 class="text-2xl font-bold">Register</h1>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="mt-4">
        <div class="border-2 border-brand-light">
            <input 
                type="text" 
                placeholder="Username" 
                formControlName="username"
                class="bg-brand-dark w-full p-2 text-xl" 
            />
        </div>
        @if(registerForm.controls.username.touched && registerForm.controls.username.invalid){
            <div class="h-2 mt-1">
                <p class="text-base text-red-400">Username is required</p>
            </div>
        }
        <div class="border-2 border-brand-light mt-6">
            <input 
                type="text" 
                placeholder="Email" 
                formControlName="email"
                class="bg-brand-dark w-full p-2 text-xl" 
            />
        </div>
        @if(registerForm.controls.email.touched && registerForm.controls.email.invalid){
            <div class="h-2 mt-1">
                <p class="text-base text-red-400">Email is required</p>
            </div>
        }
        <div class="border-2 border-brand-light mt-6">
            <input 
                type="password" 
                placeholder="Password" 
                formControlName="password"
                class="bg-brand-dark w-full p-2 text-xl"
            />
        </div>
        @if(registerForm.controls.password.touched && registerForm.controls.password.invalid){
            <div class="h-2 mt-1">
                <p class="text-base text-red-400">Password is required</p>
            </div>
        }
        <div>
            <button 
                type="submit" 
                class="w-full mt-6 px-8 py-2 text-2xl font-bold bg-secondary text-primary-light nav-link"
            >
                Create Account
            </button>
        </div>
    </form>
    <div class="mt-8 flex flex-row place-self-center text-center">
        <p class="">Already have an account?</p>
        <a routerLink="/login" class="cursor-pointer font-bold ml-2 nav-link" >Log In</a>
    </div>
</div>

