<div class="list-hover">
    <div 
        class="w-full h-16 shadow-sm shadow-black cursor-pointer place-self-center font-bold
                {{selected() ? 'bg-secondary text-brand-dark' : ''}}" 
        (click)="onSelect()"
    >
        <div class="flex h-full flex-row py-2 px-4">
            <div class="w-2/12 block-logic">
                <p class="italic center-left">{{user()?.username}}</p>
            </div>
            <div class="w-4/12 block-logic">
                <p class="center-left">{{user()?.email}}</p>
            </div>
            <div class="w-2/12 block-logic">
                <p class="center-left">{{user()?.role}}</p>
            </div>
            <div class="w-3/12 block-logic">
                <h1 class="font-bold center-left justify-end">{{user()?.userId}}</h1>
            </div>
            <div class="w-1/12 block-logic">
                <div class="center-left place-self-end">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                        class="{{ selected() ? 'rotate-180 text-[#1C1B1A]' : 'rotate-0 text-[#F5F1EB]' }}
                                w-12 h-12 origin-center transition-all duration-[800ms] ease-in-out fill-current">
                    <path d="M7.41 8.59 12 13.17l4.59-4.58L18 10l-6 6-6-6z"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
    <div class="{{ selected() ? 'h-52 opacity-100 overflow-y-auto': 'h-0 opacity-0'}} 
        w-full shadow-inner shadow-black place-self-center overflow-hidden transition-all duration-[800ms] ease-in-out"
    >
        @if(user()?.likedProductIds?.length! > 0){
            <h1 class="w-full text-center py-1 font-bold border-b border-primary-light mb-2">Liked Products</h1>
            @for(product of likedProducts(); track $index){
                <div class="w-full h-16 shadow-sm shadow-black py-1">
                    <div class="flex h-full px-6">
                        <div class="w-2/12">
                            <img src="{{product.imageUrls[0]}}" alt="{{product.title}} image" class="w-auto h-full">
                        </div>
                        <p class="w-4/12 center-left font-bold">{{product.title}}</p>
                        <p class="w-3/12 center-left italic">{{product.category}}</p>
                        <p class="w-2/12 center-left">{{product.price}}</p>
                        <p class="w-1/12 text-neutral-500 text-xs center-left justify-end">{{product.id}}</p>
                    </div>
                </div>
            }
        } @else {
            <p class="center-left justify-center">No Liked Products</p>
        }
    </div>
</div>