<body class="hidden md:block place-self-center w-10/12 h-auto">
    <nav class="flex flex-row justify-between my-2">    <!-- will be used for filtering -->
        <a class="nav-link cursor-pointer">POTTERY</a>
        <a class="nav-link cursor-pointer">TEXTILE</a>
        <a class="nav-link cursor-pointer">WOOD CRAFT</a>
        <a class="nav-link cursor-pointer">PAPER CRAFT</a>
        <a class="nav-link cursor-pointer">METALWORK</a>
        <a class="nav-link cursor-pointer">ARTS</a>
    </nav>
    <hr class="border border-primary-light mb-6" />
    <h1></h1>
    <div class="flex flex-row justify-between">
        <section class="w-3/12 border-r-2 border-primary-light px-2 mr-2 flex flex-col">
            <h1>FILTER</h1>
            <div>
                price range
            </div>
            <div>
                newest items
            </div>
            <div>
                limited stock
            </div>
            <div>
                featured
            </div>
            <div>
                categories
            </div>
        </section>
        <section class="flex-1 w-9/12">
            <app-product-display />
        </section>
    </div>
</body>