<div 
    class="w-56 2xl:w-72 text-brand-dark contain-content 
        hover:cursor-pointer transition-all duration-500 ease-in-out hover:scale-[1.015]" 
    [routerLink]="['/product', product()?.id]"
>
    <div class="relative h-56 2xl:h-72 flex justify-end">
        <img 
            [src]="product()?.imageUrls?.at(0)" 
            alt="Product {{product()?.title }} image"
            class="w-full h-full object-cover absolute inset-0 -z-10 rounded-t-sm"
        />
        <div class="z-10">
            <button class="my-1 mx-1 w-8 h-8 2xl:w-9 2xl:h-9 nav-link hover:scale-125 active:scale-90"
                (click)="toggleLiked($event)"
            >
                <img 
                    src="{{ isLiked() ? 'love_3.png' : 'love_1.png'}}"
                    alt=""
                    class="w-8 2xl:w-9 self-center pt-0.5 m-auto"
                />
            </button>
        </div>
    </div>

    <div class="flex flex-col px-2 w-full justify-between bg-secondary rounded-b-sm">
        <div class="relative overflow-hidden">
            <h1 class="text-2xl font-bold whitespace-nowrap">{{ product()?.title }}</h1>
        </div>
        <div class="flex justify-between">
            <h3 class="text-xl text-primary-light">{{ product()?.category }}</h3>
            <h3 class="self-end text-2xl">${{ product()?.price }}</h3>
        </div>
    </div>
</div>