<div class="border-2 border-primary-light w-full max-w-[100%] min-w-0">
        <form [formGroup]="createProductForm" (ngSubmit)="onSubmit()" class="mx-4 my-2">
            <div class="flex justify-between">
                <div class="mt-4">
                    <input 
                        type="text" 
                        placeholder="Title" 
                        formControlName="title"
                        class="bg-brand-dark px-2 text-xl focus:border-none place-self-center focus:outline-none" 
                    />
                    @if(createProductForm.controls.title.touched && createProductForm.controls.title.invalid){
                        <div class="h-2 px-2 mb-4">
                            <p class="text-base text-red-400">Title is required.</p>
                        </div>
                    }
                </div>
                <div class="flex my-4 gap-2">
                    <button 
                        type="button"
                        (click)="markFeatured()"
                        class="place-self-center border-2 border-brand-light w-4 h-4 {{ createProductForm.get('isFeatured')?.value == true ? 'bg-brand-light' : '' }}" 
                    ></button>
                    <label class="text-xl place-self-center">Featured</label>
                </div>
            </div>
            <div class="border-2 border-brand-light mt-2">
                <textarea 
                    placeholder="Description" 
                    formControlName="description"
                    class="bg-brand-dark w-full p-2 focus:border-none focus:outline-none" 
                ></textarea>
            </div>
            @if(createProductForm.controls.description.touched && createProductForm.controls.description.invalid){
                <div class="h-2 px-2 mt-0.5">
                    <p class="text-base text-red-400">Description is required.</p>
                </div>
            }
            <div class="border-2 border-brand-light mt-6 flex">
                <label class="place-self-center p-2">Price</label>
                <input 
                    type="number" 
                    max="150"
                    min="1"
                    placeholder="00.00" 
                    formControlName="price"
                    class="bg-brand-dark w-full p-2 focus:border-none focus:outline-none" 
                />
            </div>
            @if(createProductForm.controls.price.touched && createProductForm.controls.price.invalid){
                <div class="h-2 px-2 mt-0.5">
                    <p class="text-base text-red-400">Price required. Between $1.00 - $150.00</p>
                </div>
            }
            <div class="border-2 border-brand-light mt-6 flex">
                <label class="place-self-center p-2">Stock</label>
                <input 
                    type="number" 
                    placeholder="0"
                    min="1"
                    formControlName="stock"
                    class="bg-brand-dark w-full p-2 focus:border-none focus:outline-none" 
                />
            </div>
            @if(createProductForm.controls.stock.touched && createProductForm.controls.stock.invalid){
                <div class="h-2 px-2 mt-0.5">
                    <p class="text-base text-red-400">Stock required. Minimum of 1.</p>
                </div>
            }
            <div class="my-6">
                <div class="flex gap-4">
                    <label class="text-center">Select Category</label>
                    @if(createProductForm.controls.category.touched && createProductForm.controls.category.invalid){
                        <div class="">
                            <p class="text-base text-red-400">Category required.</p>
                        </div>
                    }
                </div>
                <div class="flex gap-2 mt-2">
                    <!-- TODO: make this a @for -->
                    <button 
                        type="button"
                        class="cat-btn {{ createProductForm.get('category')?.value == 'Pottery' ? 'bg-brand-light text-brand-dark' : '' }}" 
                        (click)="markCategory('Pottery')"
                    >
                        Pottery
                    </button>
                    <button 
                        type="button"
                        class="cat-btn {{ createProductForm.get('category')?.value == 'Textile' ? 'bg-brand-light text-brand-dark' : '' }}" 
                        (click)="markCategory('Textile')"
                    >
                        Textile
                    </button>
                    <button 
                        type="button"
                        class="cat-btn {{ createProductForm.get('category')?.value == 'Wood Craft' ? 'bg-brand-light text-brand-dark' : '' }}" 
                        (click)="markCategory('Wood Craft')"
                    >
                        Wood Craft
                    </button>
                    <button 
                        type="button"
                        class="cat-btn {{ createProductForm.get('category')?.value == 'Paper Craft' ? 'bg-brand-light text-brand-dark' : '' }}" 
                        (click)="markCategory('Paper Craft')"
                    >
                        Paper Craft
                    </button>
                    <button 
                        type="button"
                        class="cat-btn {{ createProductForm.get('category')?.value == 'Metalwork' ? 'bg-brand-light text-brand-dark' : '' }}" 
                        (click)="markCategory('Metalwork')"
                    >
                        Metalwork
                    </button>
                    <button 
                        type="button"
                        class="cat-btn {{ createProductForm.get('category')?.value == 'Arts' ? 'bg-brand-light text-brand-dark' : '' }}" 
                        (click)="markCategory('Arts')"
                    >
                        Arts
                    </button>
                </div>
            </div>
            
            <div class="border-2 border-brand-light min-w-0">
                <!-- <label class="p-2 my-2">Add Images</label> -->
                <div class="mx-2 my-4">
                    <div class="flex gap-4">
                        <label for="fileInput" class="border-2 border-brand-light p-2 cursor-pointer inline-block">
                            Choose Images
                            <input 
                                type="file"
                                id="fileInput"
                                (change)="onImageSelected($event)"
                                accept="image/*"
                                class="hidden"
                                formControlName="images"
                            />
                        </label>
                        @if(createProductForm.controls.images.touched && this.selectedImageFiles.length <= 0){
                            <div class="place-content-center">
                                <p class="text-base text-red-400">Product must include at least one image.</p>
                            </div>
                        }
                    </div>
                    <div class="mt-4 w-full overflow-x-auto thumbs-scroll">
                        <div class="flex gap-2 flex-nowrap snap-x snap-mandatory pb-4">
                            @if (imagePreviewUrls.length === 0) {
                                <span class="text-center w-full">No Images Selected.</span>
                            } @else {
                                @for (preview of imagePreviewUrls; track $index) {
                                    <img
                                        [src]="preview"
                                        alt="Preview"
                                        class="w-36 h-36 object-cover shrink-0 border-2 border-brand-light snap-start"
                                    />
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full mt-4 flex justify-between">
                <button 
                    type="reset"
                    (click)="resetForm()"
                    class="cat-btn nav-link hover:font-normal"
                >
                    Reset
                </button>
                <button 
                    type="submit"
                    class="bg-brand-light text-brand-dark font-bold nav-link px-4 py-2"
                >
                    Create Product
                </button>
            </div>
        </form> 
    </div>
