<div class="px-4 w-full">
    <section class="w-full">
        <div class="flex justify-between items-center pn-1 border-b border-primary-light mb-2">
            <button
                class="px-4 py-2 rounded disabled:opacity-20"
                (click)="goToPreviousPage()"
                [disabled]="currentPage() === 1"
            >
                ← Previous
            </button>
            <span class="text-sm">
                Page {{ currentPage() }} of {{ totalPages() }}
            </span>
            <button
                class="px-4 py-2 rounded disabled:opacity-20"
                (click)="goToNextPage()"
                [disabled]="currentPage() >= totalPages()"
            >
                Next →
            </button>
        </div>
    </section>
    <section class="mt-4 w-full mx-auto @container">
        <!-- Look at media queries @Container to help with this grid -->
        <div class="grid gap-4 justify-items-center @md:grid-cols-4 @lg:grid-cols-5 @xl:grid-cols-5"> 
            @if(products().length > 0){
                @for(product of products(); track product.id){
                    <app-product-card 
                        [product]="product"
                        [size]="'small'"
                    />
                }
            } @else {
                <p>No products.</p>
            }
        </div>
    </section>
</div>