<section class="relative w-full h-auto">
    <img src="HeroImage.png" alt="Hero Image" class="absolute inset-0 w-full h-full object-cover object-right -z-10" />

    <div class="flex flex-col items-start justify-center h-full text-right ml-20 py-24">
        <h1 class="text-8xl font-bold">DISCOVER</h1>
        <p class="text-2xl">Japanese Crafts Built with Harmony</p>
        <a 
        class="border-2 border-brand-light px-16 py-2 text-4xl mx-32 my-4 hover:shadow-md 
            transition-transform duration-300 ease-in-out transform hover:scale-105 active:scale-95 hover:cursor-pointer"
        >Shop</a>
    </div>
</section>


