<div class="w-full h-auto py-12">
    <h1 class="text-3xl">ACCOUNT SETTINGS</h1>
    <div class="flex w-full border-t pt-8">
        <div class="flex flex-col justify-center w-1/4">
            <img src="user_icon.png" alt="Profile image" class="w-44 place-self-center bg-primary-light rounded-full" />
            <div class="mt-2 w-full flex justify-center">
                <button
                    class="px-6 lg:px-8 py-3 font-bold border border-neutral-600 text-neutral-600 my-6"
                >
                    COMING SOON
                </button>
            </div>
        </div>
        <div class="flex flex-col justify-start w-3/4">
            <div class="mb-4 flex w-1/2">
                <p class="w-1/4 text-xl flex items-center">USERNAME</p>
                <input type="text" class="w-3/4 bg-brand-dark border py-1 px-2 text-xl" />
            </div>
            <div class="mb-4 flex w-1/2">
                <p class="w-1/4 text-xl flex items-center">EMAIL</p>
                <input type="text" class="w-3/4 bg-brand-dark border py-1 px-2 text-xl" />
            </div>
        </div>
    </div>
</div>
