<nav class="flex flex-row justify-between my-2">    <!-- will be used for filtering -->
    <button class="nav-link cursor-pointer" (click)="onSetCategory('pottery')">POTTERY</button>
    <button class="nav-link cursor-pointer" (click)="onSetCategory('textile')">TEXTILE</button>
    <button class="nav-link cursor-pointer" (click)="onSetCategory('wood')">WOOD CRAFT</button>
    <button class="nav-link cursor-pointer" (click)="onSetCategory('paper')">PAPER CRAFT</button>
    <button class="nav-link cursor-pointer" (click)="onSetCategory('metalwork')">METALWORK</button>
    <button class="nav-link cursor-pointer" (click)="onSetCategory('art')">ARTS</button>
</nav>
