<body class="w-10/12 place-self-center h-auto mt-16 flex flex-row">
    <div class="flex flex-col justify-between w-4/12 p-4">
        <div>
            @if(product()?.isFeatured){
                <h3 class="italic text-center border-y py-3 border-primary-light">Featured Product</h3>
            }
            <h1 class="text-6xl font-bold text-center py-4">{{ product()?.title | uppercase }}</h1>
        </div>
        <div>
            <section class="flex flex-row justify-between border-y py-3 border-primary-light">
                <p class="self-center text-xl">Total:</p>
                <h2 class="text-end text-4xl">{{product()?.price}}</h2>
            </section>
            <div class="flex flex-row justify-between gap-4 my-4">
                <button
                    class="px-6 lg:px-8 py-1.5 text-l lg:text-xl font-bold bg-secondary text-primary-light flex-1 nav-link"
                >
                    ADD TO CART
                </button>
                <button class="nav-link hover:scale-125 active:scale-90">
                    <img 
                        src="{{ isLiked() ? 'love_3.png' : 'love_1.png'}}"
                        alt=""
                        class="w-10 2xl:w-12 self-center pt-0.5 m-auto"
                    />
                </button>
            </div>
            <section>
                <h1 class="text-2xl font-bold">Product Description:</h1>
                <p>{{product()?.description}}</p>
            </section>
        </div>
    </div>
    <div class="flex-1 w-5/12 contain-content px-4 my-4 border-r-2 border-primary-light">
        <img src="{{product()?.imageUrls?.at(0)}}" alt="temp" class="w-fit">
    </div>
    <div class="w-2/12 flex flex-col gap-4 mt-4 items-end">
        @for(image of product()?.imageUrls; track product()?.imageUrls?.findIndex){
            <div class="w-1/2">
                <img src="{{image}}" alt="test" class="nav-link">
            </div>
        }
    </div>
</body>


