<div>
    <h1 class="text-xl font-bold mb-4">ADMIN DASHBOARD</h1>
    <div class="flex justify-between mb-8">
        <a 
            routerLink="/profile"
            class="flex nav-link cursor-pointer border px-2"
        >
            <img src="line_start_arrow_notch_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" class="w-5 2xl:w-auto">
            <p class="text-sm 2xl:text-lg place-self-center">Profile</p>
        </a>
        <a 
            routerLink="/"
            class="flex nav-link cursor-pointer text-lg border px-2"
        >
            <img src="store_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg" class="w-5 2xl:w-auto">
            <p class="text-sm 2xl:text-lg place-self-center">Home</p>
        </a>
    </div>
    

    <p class="nav-link cursor-pointer">Products</p>
    <p>Customers</p>
    <p>Shop Settings</p>
    <p class="text-primary-light">Orders (coming soon)</p>
</div>
