<div class="px-4">
    <section class="flex justify-between">
        <div>
            <h1 class="text-6xl font-bold">Products</h1>
        </div>
        <div class="pr-10">
            <button class="nav-link flex gap-1 border pr-6 pl-3 py-2" (click)="openModal()">
                <img src="add_24dp_F5F1EB_FILL0_wght400_GRAD0_opsz24.svg" class="place-self-center" />
                <p class="font-bold text-xl">Create Product</p>
            </button>
            <ng-template cdkPortal>
                <app-product-create-display
                    (productCreated)="onProductCreated()"
                    (closeWindow)="closeWindow()"
                />
            </ng-template>
        </div>
    </section>
    <section class="m-4 border-2 border-primary-light h-auto">
        <div class="flex justify-center p-4 gap-4">
            <app-most-liked-product-card />
        </div>
        <!-- top 3 categories (in a simple box but listed) -->
        <!-- low stock (box with a list of items low in stock) -->
    </section>
    <section>
        <h1 class="w-full text-center text-4xl font-bold mt-16 mb-8">All Products</h1>
        <app-product-list-display
            [createdRefreshTick]="this.createdRefreshTick()"
        />
    </section>
</div>